body
{
	width: 1000px;
	height: 900px;
	margin: 0 auto;
	font-size: 24px;
}

.header{

}

.title{
	float: left;
	width: 500px;
}

.back{
	float: left;
	width: 500px;
	text-align: right;
}

.content_top,.content_bottom{
	width: 1000px;
}

.content_top_top{

}



tbody{
	overflow-y: scroll;
}

.view_table_scroll{
	display: block;
	width: 240px;
	height:300px;
	overflow-y: scroll;
}

.view_table_scroll  tr td{
	width: 100%;

}

.item{
	cursor: pointer;
}

.item-selected{
	background-color: red;
}

.item_add{
	position: relative;
	margin-bottom: 40px;
}

.item_add p{
	margin: 12px 0;
}

.item_add span{
	position: absolute;
	left: 6em;
}

.content_center{
	width: 100%;
}

.item_title{
	float: left;
	width: 150px;
	text-align: center;
	border: solid 1px;
}

.content_bottom{
width: 1000px;
}

.content_bottom_left{
float: left;
}

.indexlist{
	border: solid 1px;
	margin: 6px;
	margin-top: 5px;
	padding: 4px;
	font-size: 27px;
}

.content_bottom_center{
	float: left;
}

.content_bottom_right{
max-width: 500px;
float: left;
}

.content_bottom_right_top{

}

.numbox{
	max-width: 300px;
	padding: auto;
	border: solid 1px;
}

.numbutton{
	border: solid 1px;
	float: left;
	margin: 10px;
	padding: 2px 18px;
	font-size: 26px;
}

.order_table tbody,.order_table thead{
	display: block;
}

.order_table_scroll{
	height: 200px;

	overflow-y: scroll;
}

.order_table td:not(:nth-child(2)){
	text-align: center;
}

.order_table th:nth-child(1),.order_table td:nth-child(1){
	font-size: 24px;
	width: 200px;
}

.order_table th:nth-child(2),.order_table td:nth-child(2){
	font-size: 24px;
	width: 200px;
}

.order_table th:nth-child(3),.order_table td:nth-child(3){
	font-size: 24px;
	width: 200px;
}

.order_table th:nth-child(4),.order_table td:nth-child(4){
	font-size: 24px;
	width: 200px;
}

.order_table th:nth-child(5),.order_table td:nth-child(5){
	font-size: 24px;
	width: 200px;
}

.content_top_bottom{
	margin-left: 600px;
}

.sum_table{

}

.sum_table th:nth-child(1),.sum_table td:nth-child(1){
	font-size: 24px;
	width: 200px;
}

.sum_table th:nth-child(2),.sum_table td:nth-child(2){
	font-size: 24px;
	width: 200px;
}

.order_table select , .cart-delete-btn{
	font-size: 24px;
}
